@media (max-width: 991px) {

  .landing_page_video_area .landing_page_video_area_wrapper .top_area .landing_page_video_content h2 {
    font-size: 27px;
    line-height: 40px;
  }

  .landing_page_video_area .landing_page_video_area_wrapper .center_area .video_player_wrapper {
    width: 100%;
    height: 400px;
  }

  .who_join_this_class .who_join_class_wrapper {
    width: 100%;
  }

  .who_join_this_class .who_join_class_wrapper .who_join_class_box {
    grid-template-columns: repeat(2, 1fr);

  }

  .lp-title {
    font-size: 25px;
    line-height: 1.4;
  }




}


@media (max-width: 767px) {

  .landing_page_video_area .landing_page_video_area_wrapper .top_area .landing_page_video_content h2 {
    font-size: 25px;
    line-height: normal;
    width: 100%;
    max-width: 100%;
  }

  .landing_page_video_area .landing_page_video_area_wrapper .center_area .video_player_wrapper {
    width: 100%;
    height: 300px;
  }


  .lp-badge {
    gap: 8px;
    padding: 6px 12px;
    font-size: 12px;
  }


  .lp-title {
    font-size: 22px;
    line-height: 1.4;
  }



}


@media (max-width: 525px) {

  .landing_page_video_area .landing_page_video_area_wrapper .top_area .landing_page_video_content h2 {
    font-size: 22px;
  }

  .time_box {
    width: 60px;
    height: 60px;
    border-radius: 5px;
  }

  .time_box span {
    font-size: 22px;
    font-weight: bold;
  }

  .time_box small {
    font-size: 12px;
  }

  .countdown_card .price {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  .who_join_this_class .who_join_class_wrapper .who_join_class_box {
    grid-template-columns: repeat(1, 1fr);

  }

  .videos_wrapper .slider_header{
    flex-direction: column;
    gap: 20px;
  }

  .slider_header{
        flex-direction: column;
    gap: 20px;
  }


}


@media (max-width: 461px) {

  .landing_page_video_area .landing_page_video_area_wrapper .center_area .video_player_wrapper {
    width: 100%;
    height: 250px;
  }


}


@media (max-width: 398px) {

  .countdown_box {
    gap: 10px;
  }


  .time_box {
    width: 55px;
    height: 55px;
    border-radius: 3px;
  }

  .time_box span {
    font-size: 19px;
    font-weight: bold;
  }

  .time_box small {
    font-size: 10px;
  }

  .countdown_card .price {
    font-size: 24px;
    font-weight: 600;
  }


}